#head{
    margin-top: -15px;
    margin-left: -8px;
    width: 105.3%;
    height: 60px;
    background: rgb(0, 0, 0,0.6);

}

#nav{
    list-style-type: none;
    
}
#nav li{
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
}
a{
    color: white;
}
a:hover{
    color: red;
}
#out{
    margin-left: 90%;
    margin-top: -20px;
}